{
  "env": {
    "node": true,
    "es6": true
  },
  "rules": {
    "complexity": [1, 10],
    "no-console": 1,
    "no-constant-condition": 0,
    "no-extra-parens": 0,
    "no-irregular-whitespace": 2,
    "no-underscore-dangle": 0,
    "no-use-before-define": [2, "nofunc"],
    "quotes": [2, "single"],
    "space-after-function-name": 0
  }
}
